.header {
  border-bottom: 1px solid var(--header-border-color);

  @media screen and (max-width: 767px) {
    position: relative;
  }
}

.header__menu {
  display: flex;
  align-items: center;
}
.main-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 48px;
  height: 100%;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  font-weight: 500;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.14;

    width: 100%;
    padding: 0;
    align-items: center;
    flex-direction: row;
  }
}

.nav {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 84px;
  }
  // @media screen and (max-width: 767px) {
  //   margin-left: 0;
  //   align-items: flex-start;
  //   flex-direction: column;
  // }

  &__item:not(:last-child) {
    margin-bottom: 32px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
      margin-right: 50px;
    }
  }
}

.nav .link {
  @media screen and (min-width: 768px) {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.current {
  position: relative;

  &::after {
    display: none;

    @media screen and (min-width: 768px) {
      content: '';

      position: absolute;
      left: 0;
      bottom: -1px;
      display: block;
      width: 100%;

      height: 4px;
      border-radius: 2px;
      background-color: var(--blue-color);
    }
  }
}

.nav-contakt,
.nav-contakt .link {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
}

.nav-contakt {
  margin-top: auto;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    margin-top: 0;
    flex-wrap: wrap;
    margin-left: 84px;
    flex-direction: row;
  }
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.nav-contakt__item {
  font-size: 34px;
  line-height: 1.17;

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.16;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }

  &:not(:last-child) {
    margin-top: 32px;
    margin-bottom: 64px;

    @media screen and (min-width: 768px) {
      margin-top: 0;
      margin-bottom: 10px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
      margin-right: 50px;
    }
  }

  &--tel {
    @media screen and (max-width: 767px) {
      order: 0;
    }
  }

  &--mail {
    @media screen and (max-width: 767px) {
      order: 1;
      font-size: 24px;
      line-height: 1.16;
    }
  }
}

.nav-contakt__icon {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    margin-right: 10px;
  }
}

.menu-button {
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  border: none;
  display: inline-flex;
  background-color: transparent;
  z-index: 100;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button__svg {
  &:hover,
  &:focus {
    fill: $blueColor;
  }
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

// .menu-button.is-open {
//   position: fixed;
//   top: 0px;
//   right: 15px;
//   @media screen and (min-width: 480px) {
//     left: 450px;
//   }
// }

.menu-container {
  @media screen and (max-width: 767px) {
    position: fixed;
    z-index: 98;
    top: 0;
    left: 0;
    overflow-y: scroll;
    width: 101%;
    height: 100%;

    background-color: $whiteColor;

    opacity: 0;
    transform: translateY(-100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-open {
      transform: translateY(0);
      opacity: 1;
      // display: block;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.nav-social {
  &__list {
    display: flex;
    flex-wrap: wrap;

    font-size: 18px;
    line-height: 1.22;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  &__item {
    &:not(:last-child) {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      padding-right: 10px;
    }
    &:not(:first-child) {
      padding-left: 10px;
    }
  }
}
