.portfolio-nav {
  display: flex;
  justify-content: center;
  margin-left: -8px;

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: -15px;
  }

  &__item {
    margin-left: 8px;

    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
  }

  &__button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: var(--second-background-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--white-color);
      background-color: var(--blue-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
    }
  }
}

.portfolio-project {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  margin-top: 50px;
  margin-left: -30px;
  margin-bottom: -30px;

  & img {
    display: block;
    width: 100%;
    height: auto;
    border: none;
  }

  &__item {
    margin-left: 30px;
    margin-bottom: 30px;
    flex-basis: calc(100% / 3 - 30px);
    border: 1px solid var(--portfolio-border-color);

    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 1199px) {
      flex-basis: calc(50% - 30px);
    }

    @media screen and (max-width: 767px) {
      flex-basis: 100%;
    }

    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);

      .portfolio-project__description {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  &__box {
    overflow: hidden;
    position: relative;
  }

  &__description {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background-color: rgba(33, 150, 243, 0.9);

    opacity: 0;
    transform: translateY(+100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    & > p {
      margin: 0;
      font-size: 18px;
      line-height: 1.55;
      letter-spacing: 0.03em;
      color: var(--white-color);
      padding-left: 24px;
      padding-right: 24px;
      padding-top: 63px;
      padding-bottom: 63px;
    }
  }

  &__border {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__title {
    margin-top: 0px;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  &__text {
    margin-bottom: 0px;
    margin-top: 0;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
  }
}
