:root {
  --main-text-color: #212121;
  --second-text-color: #757575;
  --blue-color: #2196f3;
  --white-color: #fff;
  --background-color: #2f303a;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --main-background-color: #e5e5e5;
  --second-background-color: #f5f4fa;
  --header-border-color: #ececec;
  --portfolio-border-color: #eee;
  --social-team-color: #afb1b8;
  --social-footer-color: rgba(255, 255, 255, 0.1);
  --order-background-color: #c4c4c4;
  --backdrop-background-color: rgba(0, 0, 0, 0.2);
  --project-name-background-color: rgba(47, 48, 58, 0.8);
}

$mainFont: 'Roboto', sans-serif;
$mainTextColor: #212121;
$whiteColor: #fff;
$blueColor: #2196f3;
